$primary-color: rgb(9, 176, 137);
$expense-color: rgb(3, 87, 184);


* {
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#warning,
#warning2,
#amountWarning,
#costWarning,
#requiredNameWarning {
    color: red;
}

#pieChart {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: conic-gradient($expense-color 0%, $expense-color 100%, $primary-color 0%, $primary-color 0%);
}

#incomeKey {
    color: white;
    background-color: $primary-color;
}

#expenseKey {
    color: white;
    background-color: $expense-color;
}